<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.usb_camera_plugin">
  
  <application>
    <activity
      android:name=".CameraActivity"
      android:exported="false"
      android:theme="@android:style/Theme.Material.Light.NoActionBar" />
  </application>
</manifest>
